
        body {
            background-image: url(" {%static 'images/bgimage.jpeg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 450px;
        }
        h1 {
            color: yellow;
            text-align: center;
            font-family: Montserrat;
            font-size: 50px;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 1px;

        }
        h3 {
            color: yellow;
            text-align: center;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 1px;
        }
